
@font-face {
	font-family: 'PyeongChangPeace-Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

a {
	text-decoration: none;
}
body {
	margin: 0;
	font-family:'PyeongChangPeace-Light';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: .1rem;
	background: #484a46;
	color: whitesmoke;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul,
li {
	list-style-type: none;
}

a:link, 
a:visited {
  color: inherit; 
}

#root {
	background: rgb(119, 171, 86); 
	padding: 2rem;
	border-radius: 3%;
	box-shadow: -1rem 3rem 5rem #31342e;
}